html{
  width: 100vw;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
  font-family: bolde;
}
header{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
nav {
  width: 90%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
  padding: 10px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--main-color);
}

.nav__bar {
  padding: 0;
  background-color: transparent;
}

.nav__menu__btn {
  display: none;
}

.nav__links {
  padding: 0;
  width: unset;
  position: static;
  transform: none;
  flex-direction: row;
  background-color: transparent;
  color: black;
}

.nav__btn {
  display: block;
}

.nav__links a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary-color);
  transition: 0.3s;
  transform-origin: left;
}

.nav__links a:hover::after {
  width: 100%;
}

.logo a {
  color: var(--main-color);
  font-size: 20px;
  text-decoration: none;
}
.button__grouop button i {
  color:var(--main-color);
}
.box-content {
  background-color: #f3f4f6;
  border-radius: 10px;
  box-shadow: -4px 3px 0px 1px #9b85854d;
  border: 2px dotted var(--main-color);
}
.btn-game {
  background-color: var(--main-color);
  color: white;
  transition: all 0.5s;
}
.btn-game:hover {
  background-color: var(--main-color);
  transform: scale(1.2);
}
.header-title {
  position: relative;
}
.rr {
  width: 128px;
  height: 133px;
  position: absolute;
  transform: rotate(15deg);
  right: 57%;
  z-index: 100;
}
span {
  color: var(--main-color);
}
.title-box {
  position: relative;
}
.title-box img {
  width: 50%;
  height: 70px;
  z-index: -1;
  position: absolute;
  top: -10px;
  right: 26%;
}
.sec-container {
  position: relative;
}
.sec-container .text {
  background-color: #f3f4f6;
  border-radius: 10px;
  padding: 10px;
}
.sec-container .im{
  background-color: white;
}
.img img{
  width: 100%;
}