:root {
  --primary-color: #00a3a3;
  --primary-color-dark: #0a7979;
  --text-dark: #0c0a09;
  --text-light: #78716c;
  --white: #ffffff;
  --max-width: 1200px;
}

body {
    padding: 0;
    margin: 0;
    height: fit-content;
    width: 100%;
    font-family: bolde;
    background: #021526;
    overflow-x: hidden;
  }
  .header {
    min-height: 70vh;
    max-height: fit-content;
    background:linear-gradient(45deg, #183877, #0d5b5b85);
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  .section__header {
    max-width: 600px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    isolation: isolate;
    top: 10px;
    width: 60%;
    max-width: var(--max-width);
    margin: auto;
    z-index: 9;
    padding: 10px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.05)
    );
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  
  .nav__bar {
    padding: 0;
    background-color: transparent;
  }
  
  .nav__menu__btn {
    display: none;
  }
  
  .nav__links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-color: transparent;
    color: black;
  }
  
  .nav__btn {
    display: block;
  }
  
  .nav__links a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: 0.3s;
    transform-origin: left;
  }
  
  .nav__links a:hover::after {
    width: 100%;
  }
  
  .logo a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  i {
    color: white;
  }
  .section-title{
    color: #ffffff;
  }
  .section-title span{
    color: rgb(28, 167, 209);
  }
  .footer {
    background-color: black;
  }
  
  .footer__container {
    display: grid;
    gap: 4rem 2rem;
  }
  
  .footer__col .section__description {
    margin-block: 2rem;
    color: rgba(255, 255, 255, 0.466);
  }
  
  .footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  
  .footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;
  }
  
  .footer__links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.466);
    transition: 0.3s;
  }
  
  .footer__links a:hover {
    color: white;
  }
  
  .footer__socials {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .footer__socials img {
    max-width: 25px;
    opacity: 0.8;
    transition: 0.3s;
  }
  
  .footer__socials img:hover {
    opacity: 1;
  }
  
  .footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color:rgba(255, 255, 255, 0.466);
    text-align: center;
  }
  @media (width > 576px) {
  
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }